<%- include('partials/head')%> <%- include('partials/header')%>

<main class="mainAdmin">
	<div class="mainAdminContainerForm">
		<form action="/products/edit" method="POST">
			<div class="maindAdmin__containerUpdated">
				<label for="name" class="mainAdmin__labelUpdate">Buscar</label>
				<input
					autocomplete="off"
					type="text"
					id="name"
					name="lastname"
					placeholder=" Apellido"
					value="<%=locals.adminMessage%>"
				/>
				<button class="mainAdminContainerForm__button">IR</button>
				<% if(locals.adminMessage){%>
				<p>Usuario no encontrado </p>
				<%} %>
			</div>
		</form>
		<% if(locals.providers && locals.providers.length != 0){%>
		<div class="mainAdminContainerUsers">
			<% providers.forEach(provider=>{ %>

			<div class="mainAdminUser">
				<div class="mainAdminUser__text">Nombre: <i><%=provider.name %> </i></div>
				<div class="mainAdminUser__text">Apellido: <i><%=provider.lastname %></i></div>
				<div class="mainAdminUser__text">Email: <i><%=provider.email %></i></div>
				<div class="mainAdminUser__text">Categoria: <i><%=provider.categories.name %></i></div>
				<a href="/products/edit/<%=provider.id%>" class="maindAdminUser__button">Editar</a>
			</div>

			<% }) %>
		</div>

		<% } %>
	</div>
</main>

<%-include('partials/footer')%>
