<%- include('partials/head',{title})%> 
<%- include('partials/header')%>



    <main class="container-lender">
        
        <div class="container-lender-top">
            <a href="http://localhost:3000/" class="container-lender-top-link">SERVICIOS </a><p class="container-lender-general-text" ><%= titleCategory  %> </p> 
        </div>


        <% products.forEach(product => {%> 




            <div class="container-lender-body-1">
                
                <img src="/<%=product.image%> " alt="loguito" class="container-lender-body-1-photo">
                <div class="container-lender-body-1-text">
                    <h4 class="container-lender-body-1-text-name"><%=product.name%> </h4>
                    <div>

                        <% for (let i = 0 ; i< 5;i++){%> 

                            <% if (i < product.score) {%>

                                <i class="score activeScore fas fa-star"></i>


<%   } else {%> 

    <i class="score  fas fa-star"></i>


<%}%> 

<%   } %> 
                        
                    </div>
                </div>
                   
                   <a href="/products/detail/<%=product.id%>" class="container-lender-buttom">Contactar</a> 
             
        
                                        
                  
                </div>




<% }) %> 
        
         
                    
              
           
             
    </main>

  

    <footer class="footer">
        <p class="footer__copy">Copyright © AZVI </p>
        <nav class="footer__nav">
          <ol class="footer__links" >
            <li><a>Contacto</a></li>
            <li><a>Preguntas Frecuentes</a></li>
          </ol>
        </nav>
    
      </footer>
    
</body>
</html>