
<%- include('partials/head',{title})%> 
<%- include('partials/header')%>



    <main class="container-lender">
        
        <div class="container-lender-top">
            <h3> <%= category.name%> </h3> 
        </div>
        

        <% for(let i = 0 ; i < category.providers.length ; i++) {%>

            
                <div  class="container-lender-body-1" >
                    <img src="/<%=category.providers[i].image%>" alt="<%= category.name%>"  class="container-lender-body-1-photo">
                    <div class="container-lender-body-1-text" >
                        <h4 class="container-lender-body-1-text-name"> <%= category.providers[i].name %> </h4>
                    </div>
                

                <div class="stars-contact" >

                    <div class="stars" >
                        <% for (let j = 0 ; j< 5;j++){%> 
    
                            <% if (j < category.providers[i].score) {%>
    
                                <i class="score activeScore fas fa-star"></i>
    
    
                                <%   } else {%> 
    
                                <i class="score  fas fa-star"></i>
    
    
                            <%}%> 
                        <%}%> 
    
                    </div>
    
                       
    
                        <a href="/products/detail/<%=category.providers[i].id%>" class="container-lender-buttom">Contactar</a> 

                </div>
                
                

                <div class="container-prince">$<%=category.providers[i].price%></div>
            </div  >
        <%}%>


        
        
              
           
             
    </main>

  

<%- include('partials/footer') %>