<%- include('partials/head')%> <%- include('partials/header')%>

<main class="mainAdmin">
	<h2 class="mainAdmin__title">Mensajes</h2>

	<% if(locals.userLog.messages){ %> <%  messages.forEach(mgs=>{ %>

	<div class="messagesContainer">
		<div class="messagesContainer__data">
			<p class="mainAdmin__subtitle">Fecha de contacto:  <i style="color: white;"><%=mgs.dataValues.dates%> </i></p>
			<p class="mainAdmin__subtitle">Nombre: <i style="color: white;"><%=mgs.name%> </i></p>
			<p class="mainAdmin__subtitle">Telefono: <i style="color: white;"><%=mgs.phone%> </i></p>
			<p class="mainAdmin__subtitle"><i style="color: white;"><%=mgs.plan%> </i></p>
			<a class="mainAdmin__red messagesContainer__delete" href="/products/contact/<%=mgs.id%>" >Borrar</a>
		</div>
	</div>

	<% }) %> <% } %>
</main>
<%-include('partials/footer')%>
