<%- include('partials/head')%> <%- include('partials/header')%>

<main class="container">
	<div class="container-lender">
		<div class="container-lender-general">
			<a href="http://localhost:3000/" class="container-lender-general-link">SERVICIOS </a>
			<p class="container-lender-general-text">>></p>
			<a href="http://localhost:3000/lenderList" class="container-lender-general-link"><%= titleCategory %></a>
		</div>
		<br />
		<div class="container-lender-detail">
      <div class="container-lender-detail-cont-img">
      <img src="/<%=product.image%>" alt="Plomero" class="container-lender-detail-photo" />
      </div>
      <div class="container-lender-detail-cont-text">
      <p class="container-lender-detail-text"><strong><%= (product.name+" "+product.lastname).toUpperCase() %></p></strong>
      </div>
      <div class="container-lender-detail-cont-city">
        <p class="container-lender-detail-city"><strong><%= product.localidad %></p></strong>
        </div>
      <div class="container-lender-detail-cont-cal">
      <p class="container-lender-detail-cal"><% for (let i = 0 ; i< 5;i++){%> 
          <% if (i < product.score) {%>
              <i class="score activeScore fas fa-star"></i>
          <%   } else {%> 
            <i class="score  fas fa-star"></i>
          <%}%> 
        <%   } %></p>
      </div>
    </div>
  </div>
  
	<div class="container-service">
    <div class="service-text">
      <h3 class="container-service-title"><%= product.description %></h3>
      <p class="container-service-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta!amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi 
      </p>
    </div>

    <div class="service-buttons">
          <!-- Faltaría algo para poder iterar varios servicios con sus varios precios -->
      <button type="button" class="container-service-button-two">ADQUIRIR</button>
    </div>
  </div>
  

	<div class="container-opinions">
    <h2>Ultimas calificaciones  <i class="fas fa-comments"></i></h2>
    <div class="container-opinions-chat">
      <!-- Faltaría en el json informacion sobre los comentarios u calificaciones -->
      <div class="opinions"><p>Excelente, un grande <%= product.name %> lo volvería a contratar</p></div>
      <div class="opinions"><p>Para destacar la puntualidad de <%= product.name %></p></div>
      <div class="opinions"><p>¡El mejor servicio de <%= product.category %>!</p></div>
      <div class="opinions"><p>Totalmente recomendado</p></div>
    </div>
	</div>


</main>
<%-include('partials/footer')%>
