<!--PARTIALS-->

<%- include('../partials/head')%> <%- include('../partials/header')%>
<div class="main__containerMain">
	
	<div class="main__container">
	</div>
	<div class="main__title">El servicio que buscas en un solo click

		<a href="#categories" class="main__reference">Encontra tu servicio</a>
	</div>
</div>

<main class="main">

 

	<div id="categories" class="main__subtitle">RECOMENDADOS</div>
	<section  class="main__recomended">

		<% bestest.forEach(best =>{%> 

			<article class="main__recomendedCard">
				<i class="main__recomendedi"><i class="fas fa-globe-americas"></i>   <%= best.location %> </i>
				<a class="main__recomendedA" href="/products/detail/<%=best.id%>">
				<h4><%=best.name%> </h4>
				<div class="main__ref"><img class="main__recomendedImage" src="<%=best.image%>" alt="">
				<img class="main__ref__img" src="/images/categories/<%=best.categories.name%>.svg" alt="">
				</div>

				<div>
				
					<% for (let i = 0 ; i< 5;i++){%> 

						<% if (i < best.score) {%>

							<i class="score activeScore fas fa-star"></i>


<%   } else {%> 

<i class="score  fas fa-star"></i>


<%}%> 

<%   } %> 
				
</div>
				</a>
		
			</article>

	<% 	}) %> 


	</section>

	<div id="categories" class="main__subtitle">CATEGORIAS</div>

	<section  class="categories">
		<a class="categories__category" href="products/category/carpinteria">
			<img src="images/categories/carpinteria.svg" alt="" class="categories__icon" />
			<p href="products/category/carpinteria" class="categories__subtitle">Carpinteria</p>	
		</a>
		<a class="categories__category"  href="products/category/acc">
			<img src="images/categories/acc.svg" alt="" class="categories__icon" />
			<p   class="categories__subtitle">Acc.</p> 			
		</a>
		<a class="categories__category" href="products/category/plomeria">
			<img src="images/categories/plomeria.svg" alt="" class="categories__icon" />
			<p   class="categories__subtitle">Plomeria</p>		
		</a>
		<a class="categories__category" href="products/category/pintura">
			<img src="images/categories/pintura.svg" alt="" class="categories__icon" />
			<p   class="categories__subtitle">Pintura</p>			
		</a>
		<a class="categories__category" href="products/category/cerrajeria">
			<img src="images/categories/cerrajeria.svg" alt="" class="categories__icon" />
			<p  class="categories__subtitle">Cerrajeria</p>		
		</a>
		<a class="categories__category"  href="products/category/lavarropas">
			<img src="images/categories/lavarropas.svg" alt="" class="categories__icon" />
			<p class="categories__subtitle">Lavarropas</p>		
		</a>
		<a class="categories__category" href="products/category/heladeras">
			<img src="images/categories/heladeras.svg" alt="" class="categories__icon" />
			<p  class="categories__subtitle">Heladeras</p>		
		</a>
		<a class="categories__category" href="products/category/mecanico">
			<img src="images/categories/Mecanico.svg" alt="" class="categories__icon" />
			<p  class="categories__subtitle">Mecanica</p>			
		</a>
	</section>
</main>

<%-include('../partials/footer')%>
