<!--PARTIALS-->

<%- include('../partials/head')%> <%- include('../partials/header')%>
<div class="main__containerMain">
	
	<div class="main__container">
	</div>
	<div class="main__title">El servicio que buscas en un solo click

		<a href="#categories" class="main__reference">Encontra tu servicio</a>
	</div>
</div>

<main class="main">

 

	<div id="categories" class="main__subtitle">RECOMENDADOS</div>
	<section  class="main__recomended">

		<% bestest.forEach(best =>{%> 

			<article class="main__recomendedCard">
				<a class="main__recomendedA" href="/products/detail/<%=best.id%>">
				<h4><%=best.name%> </h4>
				<div class="main__ref"><img class="main__recomendedImage" src="<%=best.image%>" alt="">
				<img class="main__ref__img" src="/images/categories/<%=best.categories.name%>.svg" alt="">
				</div>

				<div>
				
					<% for (let i = 0 ; i< 5;i++){%> 

						<% if (i < best.score) {%>

							<i class="score activeScore fas fa-star"></i>


<%   } else {%> 

<i class="score  fas fa-star"></i>


<%}%> 

<%   } %> 
				
</div>
				</a>
		
			</article>

	<% 	}) %> 


	</section>

	<div id="categories" class="main__subtitle">CATEGORIAS</div>

	<section  class="categories">
		<article class="categories__category">
			<img src="images/categories/carpinteria.svg" alt="" class="categories__icon" />
			<a href="products/category/carpinteria" class="categories__subtitle">Carpinteria</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/acc.svg" alt="" class="categories__icon" />
			<a href="products/category/acc" class="categories__subtitle">Acc.</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/plomeria.svg" alt="" class="categories__icon" />
			<a href="products/category/plomeria" class="categories__subtitle">Plomeria</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/pintura.svg" alt="" class="categories__icon" />
			<a href="products/category/pintura" class="categories__subtitle">Pintura</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/cerrajeria.svg" alt="" class="categories__icon" />
			<a href="products/category/cerrajeria" class="categories__subtitle">Cerrajeria</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/lavarropas.svg" alt="" class="categories__icon" />
			<a href="products/category/lavarropas" class="categories__subtitle">Lavarropas</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/heladeras.svg" alt="" class="categories__icon" />
			<a href="products/category/heladeras" class="categories__subtitle">Heladeras</a>
		</article>
		<article class="categories__category">
			<img src="images/categories/Mecanico.svg" alt="" class="categories__icon" />
			<a href="products/category/mecanica" class="categories__subtitle">Mecanica</a>
		</article>
	</section>
</main>

<%-include('../partials/footer')%>
