<%- include('../partials/head')%> <%- include('../partials/header')%>


<main class="article-container-main">
	<div class="article-container-informacion">
		 
		<form id='form-register' class="article-container-form" action="/register" method="POST">
		<div class="form-container-input">	<input autocomplete="new-text" class="article-container-input" type="text" value="<%=body.name%>" name="name" placeholder="Nombre" /><i class=" form-icon fas fa-user"></i></div>
			<% if(errors.name) {%>

				<p class="validationMessage validate-name">
					<i class="validationMessage--i fas fa-exclamation-triangle"></i><%=errors.name.msg%>
				</p>
	
				<% }%>
				<div class="form-container-input"><input autocomplete="new-text" class="article-container-input"  type="text" name="lastname" value="<%=body.lastname%>" placeholder="Apellido" /><i class="form-icon fas fa-user"></i></div>
			<% if(errors.lastname) {%>

				<p class="validationMessage">
					<i class="validationMessage--i fas fa-exclamation-triangle"></i><%=errors.lastname.msg%>
				</p>
	
				<% }%>
			<div class="form-container-input"><input autocomplete="new-email" class="article-container-input" type="email" value="<%=body.email%> " name="email" placeholder="Dirección de E-mail" /><i class="form-icon far fa-envelope"></i></div>

			<% if(errors.email) {%>

			<p class="validationMessage">
				<i class="validationMessage--i fas fa-exclamation-triangle"></i><%=errors.email.msg%>
			</p>

			<% }%>

			<div class="form-container-input"><input autocomplete="new-password" class="article-container-input" type="password" name="password" placeholder="Contraseña" /><i class="form-icon fas fa-unlock-alt"></i></div>
			<% if(errors.password) {%>

			<p class="validationMessage">
				<i class="validationMessage--i fas fa-exclamation-triangle"></i><%=errors.password.msg%>
			</p>

			<% }%>
			
			
<div class="form-container-input">
	
					<select class="article-container-input containerSelect" name="localidad" >
						<option value=""   hidden    >Localidad</option>
						<option value="Chubut" <% if (body.localidad=='Chubut') {%> selected<%}%>>Chubut</option>
						<option value="Rawson" <% if (body.localidad=='Rawson') {%> selected<%}%> >Rawson</option>
						<option value="Cordoba Capital" <% if (body.localidad=='Cordoba Capital') {%> selected<%}%>>Cordoba Capital</option>
						<option value="La Plata" <% if (body.localidad==='La Plata') {%> selected<%}%>>La Plata</option>
					</select>
					<i class="form-icon fas fa-city"></i>
</div>
				<% if(errors.localidad) {%>

					<p class="validationMessage">
						<i class="validationMessage--i fas fa-exclamation-triangle"></i><%=errors.localidad.msg%>
					</p>
		
					<% }%>
			 
			<button type="submit" class="container-button">Registrate</button>
			<%if(typeof mensaje=="string") {%>
			<p class="article-container-form-text"><%=mensaje%></p>
			<%}%>
		</form>
	</div>
</main>


<script src="javascripts/validator.min.js"></script>
<script src="javascripts/validation.js"></script>
<%-include('../partials/footer')%>

