<%- include('../partials/head')%> <%- include('../partials/header')%>


<main class="mainAdmin">
	<div class="mainAdmin_personalImage">
		<h2 class="mainAdmin__title">Avatar</h2>
		<img class="mainAdmin__avatarImg" src="/images/users/<%=userLog.image%>" alt="">
		<form class="mainAdmin_personalImage_form" method="POST" action="/users/data" enctype="multipart/form-data">
			<input id="avatar_file" type="file" name="avatar" required accept="image/png, image/jpeg">
			<button type="submit" class="mainAdmin__submit">Modificar</button>
			<p class="validationMessage">
			 
			</p>
		</form>
	</div>
	<div class="mainAdmin_personalInfo">
		<form action="/user/data?_method=PUT" method="POST" class="mainAdmin__form"  ">
			<h2 class="mainAdmin__title--personalInfo">Datos personales</h2>
			<label for="name" class="mainAdmin__label">Nombre</label>
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<input required type="text" id="name" name="name" placeholder=" Nombre"  value=<%=userLog.name%>   />
				<i class=" form-icon fas fa-user"></i>
			</div>
			<label for="lastname" class="mainAdmin__label">Apellido</label>
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<input required type="text" id="lastname" name="lastname" placeholder="Apellido" value=<%=userLog.lastname%> />
				<i class=" form-icon fas fa-user"></i>
			</div>		 
			<label for="email" class="mainAdmin__label">Email</label>
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<input required type="text" id="email" name="email" placeholder="email@mail.com" value=<%=userLog.email%> />
				<i class="form-icon far fa-envelope"></i>
				<button class="mainAdmin__submit">Modificar</button>
			</div>
			<!-- fix => agregar columna de localidad y que persista el dato en el formulario -->
			<!-- <div class="mainAdmin__container">
				<label for="mainAdmin__select" class="mainAdmin__label">Localidad</label>
				<select class="mainAdmin_select" name="localidad" id="mainAdmin__select">
				 
				</select>
			</div> -->
		</form>
	</div>
</main>
<script src="/javascripts/userData.js"></script>

<%-include('../partials/footer')%>
