<%- include('../partials/head')%> <%- include('../partials/header')%>


<main class="mainAdmin">
	<div class="mainAdmin_personalImage">
		<h2 class="mainAdmin__title">Avatar</h2>
		<form class="mainAdmin_personalImage_form" method="POST" action="/users/data" enctype="multipart/form-data">
			<input type="file" name="avatar" required>
			<button type="submit" class="mainAdmin__submit">Modificar</button>
		</form>
	</div>
	<div class="mainAdmin_personalInfo">
		<h2 class="mainAdmin__title">Datos personales</h2>
		<form action="/user/data?_method=PUT" method="POST" class="mainAdmin__form"  ">
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<label for="name" class="mainAdmin__label">Nombre</label>
				<input required type="text" id="name" name="name" placeholder=" Nombre"  value=<%=userLog.name%>   />
			</div>
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<label for="lastname" class="mainAdmin__label">Apellido</label>
				<input required type="text" id="lastname" name="lastname" placeholder="Apellido" value=<%=userLog.lastname%> />
			</div>		 
			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<label for="email" class="mainAdmin__label">Email</label>
				<input required type="text" id="email" name="email" placeholder="email@mail.com" value=<%=userLog.email%> />
			</div>

			<div class="mainAdmin__container">
				<label for="mainAdmin__select" class="mainAdmin__label">Localidad</label>
				<select class="mainAdmin_select" name="localidad" id="mainAdmin__select">
					<option value="">Localidad</option>

					<option value="Chubut">Chubut</option>
					<option value="Rawson">Rawson</option>
					<option value="Cordoba Capital">Cordoba Capital</option>
					<option value="La Plata">La Plata</option>
				</select>
			</div>
			<button class="mainAdmin__submit">Modificar</button>
		</form>
	</div>
</main>

<%-include('../partials/footer')%>
